/* styles/globals.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

 body {
    background-color:  #010112;;
 }

 .bannerText {
   text-shadow: 3px 4px 10px #0070C5;
 }

 .heroText {
   text-shadow: 0px 0px 24px rgba(255, 251, 251, 0.48);
 }